BEARER_TOKEN=<bearer_token>
SELECTED_COURSE_ID=cr_ifsxXemTSLnySt6Duju9v
STREAM=STREAM_JEE_MAIN_ADVANCED
TAXONOMY=1739171216OJ
BATCH_ID=bt_ORA8IvlO0uJrgUzCpqDD2,bt_6iTAx9qGKWOtlHNKHXtAy,bt_Eu5fNGJVdWnOsYx0Gln0c,bt_1q5nGW30RrJUQGMVBzP6e,bt_ZRcfokhD8PuAGgCo0r6Ig
SELECTED_BATCH_LIST=bt_ORA8IvlO0uJrgUzCpqDD2,bt_6iTAx9qGKWOtlHNKHXtAy,bt_4lsHiXc2Q4n7ixreMiqFf,bt_6LlBjESE33kt0khvPQdgu,bt_n5tA1oHiHB5X1y1XOkkZc,bt_3scoa5ObDiRg5C7BgcasI,bt_lgugkrexGcdNFoMB5B7T9,bt_fvy9VMozVEbyFtR6axQhi,bt_r1sCnVh70lmgIDWLjoPZT,bt_hC1SBV6mmRPc2HsHzTAbd,bt_GdnoJEv5jveY2NP6CKaUU,bt_Eu5fNGJVdWnOsYx0Gln0c,bt_1q5nGW30RrJUQGMVBzP6e,bt_2ZtJAkCb30rjG3BtWTjki,bt_nYFmT9pVTYBEsEit4Pcnv,bt_NuEXZHxrL8iq6cbuXzX2c,bt_9ZcSWPclJdOZLlV0j1b4y,bt_ZRcfokhD8PuAGgCo0r6Ig
